<div class="staticPictureSection2">
		<div class="col-xs-12 productInfo" style="text-align: left !important;">

			<img src="images/tuscan_highchair.png">

				<p>Available Colors</p>
				<ul class="availableColorsList">
					<li><a href="#" style="background-color: #2f3349;" data-color="#2f3349" ng-click="pickPallete($event)">&nbsp;</a></li>
					<li><a href="#" style="background-color: #eae9e5;" data-color="#eae9e5" ng-click="pickPallete($event)">&nbsp;</a></li>
					<li><a href="#" style="background-color: #7a736d;" data-color="#7a736d" ng-click="pickPallete($event)">&nbsp;</a></li>
					<li><a href="#" style="background-color: #572828;" data-color="#572828" ng-click="pickPallete($event)">&nbsp;</a></li>
				</ul>
		</div>
	</div>
