<div class="col-xs-8 video_section">
	<video id="static_picture_video" loop muted width="100%" height="100%">
		<source src="images/video/static_picture.mp4" type="video/mp4">
	</video>
</div>

<div class="col-xs-5 left-section hideLeftStaticPicture">
	<div class="staticPictureSection" style="border: 0;">
		<div class="col-xs-12 productImages" style="justify-content: space-between;">
			<div class="col-xs-12 singleImage"><img src="images/static/main_image_W.png" class="img-responsive center-block" id="static-img-m" alt="Static_Picture" style="border: 2px solid #eee; object-fit: contain; height: 115% !important;"></div>
			<div class="imageToggle col-xs-12">
				<div class="col-xs-3"><a href="#"><img id="static-img-1" src="images/static/1_W.png"></a></div>
				<div class="col-xs-3"><a href="#"><img id="static-img-2" src="images/static/2_W.png"></a></div>
				<div class="col-xs-3"><a href="#"><img id="static-img-3" src="images/static/3.png" style="display: inline !important;"></a></div>
				<div class="col-xs-3"><a href="#"><img id="static-img-4" src="images/static/4_W.png"></a></div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-3 middle-section hideMiddleStaticPicture">
	<div class="staticPictureSection2">
			<div class="col-xs-12 productInfo" style="text-align: left !important;">

				<img src="images/tuscan_highchair.png">

					<p>Available Colors</p>
					<ul class="availableColorsList">
						<li><a href="#" style="background-color: #2f3349;" data-static="1" data-color="1" ng-click="pickPallete($event)">&nbsp;</a></li>
						<li><a href="#" style="background-color: #eae9e5;" data-static="2" data-color="2" ng-click="pickPallete($event)">&nbsp;</a></li>
						<li><a href="#" style="background-color: #3f4339;" data-static="3" data-color="3" ng-click="pickPallete($event)">&nbsp;</a></li>
						<li><a href="#" style="background-color: #572828;" data-static="4" data-color="4" ng-click="pickPallete($event)">&nbsp;</a></li>
					</ul>
			</div>
		</div>

</div>


<div class="col-xs-4 right-section" style="float:right;">
	<div>
		<div class="switchViewButton">
			<button class="btn btn-lg" id="main_view_button_staticPicture" onclick="pause()">Main View</button>
			<button class="btn btn-lg" id="video_button_staticPicture" onclick="play()">Video</button>
		</div>
		<h2>Static Picture</h2>
		<p>A professional studio-grade photo of your product to display in House Tipster’s marketplace. Requires shipping of product(s) to our location.</p>
	</div>
</div>






<script type="text/javascript">
$("#video_button_staticPicture").click(function() {
  $(".hideLeftStaticPicture, .hideMiddleStaticPicture").fadeOut(1000, function() {
  	$(".hideLeftStaticPicture, .hideMiddleStaticPicture").hide();
  });
});

$("#main_view_button_staticPicture").click(function() {
  $(".hideLeftStaticPicture, .hideMiddleStaticPicture").fadeIn(1000);
});


var myVideo = document.getElementById("static_picture_video");

function play() {
    if (myVideo.paused)
        myVideo.play();
}

function pause() {
	if (myVideo.play)
		myVideo.pause();
}
</script>
